@import './Variables';

.featured-sale-reverse {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 4rem;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        max-width: 1680px;
    }
}

@media (max-width: 1456px) {

    .featured-sale-reverse {
        justify-content: center;

        .container {
            justify-content: center;

            .big-box {
                order: 1;
            }

            .featured-boxes {
                order: 2;
                justify-content: center;
                margin-top: 2rem;
                margin-left: 0;
                width: 100%;
            }
        }
    }
}