@import './Variables';

.featured-sale {
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;
    margin-bottom: 4rem;

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1680px;
    }
}

@media (max-width: 1456px) {
    .featured-sale {
        justify-content: center;

        .container {
            justify-content: center;

            .featured-boxes {
                justify-content: center;
                margin-top: 2rem;
                margin-left: 0;
                width: 100%;
            }
        }
    }
}