@import './Navbar';
@import './Badge';
@import './Showcase';
@import './WinterNewArrivals';
@import './WinterClearance';
@import './NewArrivals';
@import './ProductBox';
@import './Icons';
@import './Utilities';
@import './Button';
@import './PicksFlashSale';
@import './OurSpecialty';
@import './OurSpecialtyBox';
@import './70off';
@import './Support';
@import './Footer';
@import './Variables';
@import './MainButton';
@import './NavIcon';
@import './FeaturedProduct';
@import './BigBox';
@import './FeaturedBoxes';
@import './FeaturedSale';
@import './FeaturedSaleReverse';
@import './ProductBoxSmall';
@import './LatestBestTop';
@import './ProductBoxesSmall';
@import './Breadcrumb';
@import './ContactForm';
@import './AllProducts';
@import './DetailedProduct';
@import './ShoppingCart';


// Font Import
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


html,
body {
    font-family: $font-main;
}